<div>

    <div class="d-flex justify-content-between">
      <h4>Guardar película</h4>
      <a href="#" routerLink="/movies/index" class="btn btn-primaryt">Regresar</a>
    </div>
  
    <hr/>
      
      <form [formGroup]="form" (ngSubmit)="submit()">
  
        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="title">Título:</label>
              <input
                formControlName="title"
                id="title"
                type="text"
                class="form-control">
              <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
                  <div *ngIf="f.title.errors.required">* Obligatorio.</div>
              </div>
            </div>
        </div>
  
        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="synopsis">Sinopsis:</label>
              <input
                formControlName="synopsis"
                id="synopsis"
                type="text"
                class="form-control">
              <div *ngIf="f.synopsis.touched && f.synopsis.invalid" class="alert alert-danger">
                  <div *ngIf="f.synopsis.errors.required">* Obligatorio.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="year">Año:</label>
              <input
                formControlName="year"
                id="year"
                type="number"
                class="form-control">
              <div *ngIf="f.year.touched && f.year.invalid" class="alert alert-danger">
                  <div *ngIf="f.year.errors.required">* Obligatorio.</div>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-6 ">
              <label for="cover">Portada (enlace de la imagen):</label>
              <input
                formControlName="cover"
                id="cover"
                type="text"
                class="form-control">
              <div *ngIf="f.cover.touched && f.cover.invalid" class="alert alert-danger">
                  <div *ngIf="f.cover.errors.required">* Obligatorio.</div>
              </div>
            </div>
        </div>
  
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Guardar</button>
      </form>
  </div>
