<body [ngStyle]="{'background': 'url(/assets/img/background.jpg) repeat 0 0'}">
<header>
<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
	  <img src="/assets/img/logo.png" width="120" height="120" alt="">
	</a>
</nav>
</header>
<div class="container" style="padding-bottom:40px;margin-top: 40px;">
	
		<div class="card">
			<div class="card-header">
			<h1 style="text-align:center;">
				<a href="/movies/index"> Catálogo</a>
			</h1>
			</div>
			<div class="card-body">
			<p>Disfruta de este catálogo de películas, puedes agregar más, borrar o editar todos los datos. </p>
			</div>
		</div>

	<hr>
  <main>
  <router-outlet></router-outlet>
  </main>
</div>
<hr>
<footer class="footer" style="padding-bottom: 40px;">
	<div class="container">
	  <span class="text-muted">Osvaldo Noe Gonzalez Del Rio</span><br>
	  <span class="text-muted">219917452</span><br>
	  <span class="text-muted">Conceptualización de entornos de desarrollo de aplicaciones y servicios</span>
	</div>
</footer>
</body>